/* 
  Pre-Loader
*/
body {
  margin: 0;
  line-height: normal;
  background: #556270;
  color: #353d46;
  font: 18px/27px 'Oxygen', sans-serif;
}

.logo-container {
  position: relative;
  display: inline-block;
}

.logo-container img {
  display: block;
  margin: 0 auto;
}

.shopping-cart-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


/* 
  Pre-Loader
*/
.preloader {
  background-color: #E4A5FF;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.spinner {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


/* 
  Navbar 
*/
.custom-navbar-bg {
  background-color: #45CFDD;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.custom-navbar-bg.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.small-icon {
  display: flex;
  justify-content: center;
}

.big-icon {
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 10px;
  position: relative;
}

.central-Navbar {
  padding-left: 10px;
  padding-right: 100px;
}

.nav-item {
  padding-left: 9px;
  padding-right: 9px;
}

/* Transition for all properties */
#logo {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* Scale the logo on hover */
#logo:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*
  Content
*/
div#content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  padding: 0px;
  overflow: scroll;
  background: #ffffff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #000000a6;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

div#content div.menu-trigger {
  position: fixed;
  top: 52px;
  left: 35px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

div#content div.menu-trigger:before {
  content: '\e801';
  display: inline-block;
  width: 50px;
  height: 50px;
  color: black;
  font-family: "ico";
  font-style: normal;
  font-size: 2.5em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 50px;
}

div#content div.menu-trigger:hover {
  background: #E4A5FF;
}

div#content div.menu-trigger:hover:before {
  color: #ffffff;
}

body.menu-active div#content {
  left: 284px;
  border-radius: 7px 0 0 7px;
}

body.menu-active div#content .menu-trigger {
  left: 294px;
}

/* ------------------------- */

div#shopping-cart div.shopping-cart-button {
  top: 52px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border-radius: 5px;
}

div#shopping-cart span.icon-color:before {
  display: inline-block;
  font-size: 2.1em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 50px;
}

div#content div.shopping-cart-button:hover,
div#shopping-cart span.icon-color:hover {
  background: #E4A5FF;
  color: #fff;
}


/*
  Slide-Menu 
*/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav#slide-menu>ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav#slide-menu>ul li {
  color: #ffffff;
  padding: 6px 0;
  cursor: pointer;
}

nav#slide-menu>ul li:hover {
  color: #45CFDD;
}

nav#slide-menu>ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #E4A5FF;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

.line-icon{
  padding-bottom: 25px;
}

nav#slide-menu>ul li.nav-home:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef47';
}

nav#slide-menu>ul li.nav-gorros:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('/public/fonts/hat.svg');
  background-repeat: no-repeat;
  background-size: cover;

}

nav#slide-menu>ul li.nav-tops:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\edaf';
}

nav#slide-menu>ul li.nav-ponchos:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef54';
}

nav#slide-menu>ul li.nav-faldas:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('/public/fonts/skirt.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav#slide-menu>ul li.nav-flores:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\e80c';
}

nav#slide-menu>ul li.nav-bebe:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\eb9e';
}

nav#slide-menu>ul li.nav-llave:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef59';
}

nav#slide-menu>ul li.nav-custom:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\e817';
}

nav#slide-menu>ul li.nav-facebook:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ed37';
}

nav#slide-menu>ul li.nav-instagram:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ed46';
}

nav#slide-menu>ul li.nav-email:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef12';
}

.nav-facebook:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ed37';
}

.nav-instagram:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ed46';
}

.nav-email:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef12';
}

/* .icofont-visa:before
{
  content: "\ece8";
}

.icofont-brand-paypal:before
{
  content: "\e921";
} */

body.menu-active nav#slide-menu {
  left: 0px;
}

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}

#sidenav-label {
  color: #ffffff;
}


/* 
 Description 
*/
.bg-image-message {
  width: 500px;
  height: 20px;
}

.hero {
  min-height: 50vh;
  background: #000 url(/public/rectangle-2@2x.png) center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-content {
  position: absolute;
  bottom: 15px;
}


/* 
 Tejidos Destacados
*/
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.heading-section h4 {
  color: #000000;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h4 em {
  color: #000000;
  font-style: normal;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}

.most-popular {
  margin-top: 60px;
  padding: 30px;
  background-color: #45CFDD;
  border-radius: 60px;
  border: 30px solid #ffffff;
}

.most-popular .item {
  background-color: #ffffff;
  padding: 20px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.most-popular .item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.01);
  box-shadow: 0px 0 15px #000000a6;
}

.most-popular .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.most-popular .item img {
  border-radius: 23px;
  border: 10px solid #E4A5FF;
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}


.most-popular .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.most-popular .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.most-popular .item ul {
  float: right;
  margin-top: 20px;
}

.most-popular .item ul li {
  text-align: right;
  color: #000000;
  font-size: 20px;
}

.most-popular .item ul li:first-child i {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.most-popular ul li.s-bag {
  width: 50px;
  height: 9px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.s-bag .bag-svg {
  width: 35px;
  height: 35px;
}

.s-bag svg path {
  fill: rgb(0, 0, 0);
}

.s-bag:hover svg path {
  fill: #E4A5FF;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.most-popular ul li.s-cost {
  margin-top: 35px;
}

/* This CSS class hides the text but keeps the space occupied */
.dead-space {
  color: transparent;
  visibility: hidden;
}


/*
 Content Styles
*/
.hero-area {
  position: relative;
  z-index: 1;
  width: 100%;
}

.single-welcome-slides {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-welcome-slides {
    height: 550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-welcome-slides {
    height: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .single-welcome-slides {
    height: 600px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single-welcome-slides {
    height: 450px;
  }
}

.single-welcome-slides .welcome-content {
  position: relative;
  z-index: 1;
}

.single-welcome-slides .welcome-content h3 {
  font-size: 50px;
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-welcome-slides .welcome-content h3 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .single-welcome-slides .welcome-content h3 {
    font-size: 30px;
  }
}

.single-welcome-slides .welcome-content p {
  font-size: 30px;
  position: absolute;
  right: 30px;
  color: #ffffff;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;
}

.bg-overlay::after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax>.jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.h-100 {
  height: 100% !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

/* Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


/* 
 About Me 
*/
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}


.img-profile {
  border-radius: 23px;
  border: 5px solid #45CFDD;
  width: 420px;
  height: 510px;
}

.sec-title{
position:relative;
z-index: 1;
margin-bottom:60px;
}

.sec-title .title{
position: relative;
display: block;
font-size: 18px;
line-height: 24px;
font-weight: 500;
margin-bottom: 15px;
}

.sec-title h2{
padding-top: 69px;
position: relative;
display: block;
font-size:40px;
line-height: 1.28em;
color: #222222;
font-weight: 600;
padding-bottom:18px;
}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#e4a5ff76;
}

.sec-title .text{
position: relative;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
margin-top: 35px;
}

.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.list-style-one{
position:relative;
}

.list-style-one li{
position:relative;
font-size:16px;
line-height:26px;
color: #222222;
font-weight:400;
padding-left:35px;
margin-bottom: 12px;
}

.list-style-one li a:hover{
color: #44bce2;
}

.about-section{
position: relative;
padding: 120px 0 70px;
}

.about-section .sec-title{
margin-bottom: 45px;
}

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text{ 
margin-bottom: 20px;
font-size: 20px;
line-height: 26px;
color: #727272;
font-weight: 400;
}

.about-section .list-style-one{
margin-bottom: 45px;
}

.about-section .btn-box{
position: relative;
}

.about-section .btn-box a{
padding: 15px 50px;
}

.about-section .image-column{
position: relative;
}

.about-section .image-column .text-layer{
position: absolute;
right: -110px;
top: 50%;
font-size: 325px;
line-height: 1em;
color: #ffffff;
margin-top: -175px;
font-weight: 500;
}

.about-section .image-column .inner-column{
position: relative;
padding-left: 80px;
padding-bottom: 0px;
}
.about-section .image-column .inner-column .author-desc{
position: absolute;
bottom: 16px;
z-index: 1;
background: #45CFDD;
padding: 10px 15px;
left: 96px;
width: calc(100% - 152px);
border-radius: 50px;
box-shadow: 0 30px 20px rgba(1, 3, 17, 0.453);
}
.about-section .image-column .inner-column .author-desc h2{
font-size: 21px;
letter-spacing: 1px;
text-align: center;
color: #000000;
margin: 0;
}
.about-section .image-column .inner-column .author-desc span{
font-size: 16px;
letter-spacing: 6px;
text-align: center;
color: #000000;
display: block;
font-weight: 400;
}
.about-section .image-column .inner-column:before{
content: '';
position: absolute;
width: calc(50% + 80px);
height: calc(100% + 160px);
top: -80px;
left: -3px;
background: transparent;
z-index: 0;
border: 44px solid #E4A5FF;
border-radius: 9px;
}

.about-section .image-column .image-1{
position: relative;
}
.about-section .image-column .image-2{
position: absolute;
left: 0;
bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img{
border-radius: 46px;
}

.about-section .image-column .video-link{
position: absolute;
left: 70px;
top: 170px;
}

.about-section .image-column .video-link .link{
position: relative;
display: block;
font-size: 22px;
color: #191e34;
font-weight: 400;
text-align: center;
height: 100px;
width: 100px;
line-height: 100px;
background-color: #ffffff;
border-radius: 50%;
box-shadow: 0 30px 50px rgba(8,13,62,.15);
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}



/* 
 Footer 
*/
.custom-footer-bg {
  background-color: #556270;
  box-shadow: 0 -10px 5px rgba(0, 0, 0, 0.1);

}

a {

  text-decoration: none;
  background-color: transparent;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 11px;
}

.tagcloud a:hover {
  border: 1px solid #000;
}

.ftco-section {
  padding: 12em 0;
}

.ftco-section h2 {
  margin-bottom: 0;
}

footer {
  padding: 4em 0;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-04 {
  background: #556270;
  color: #353d46;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-04::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.467);
  z-index: -1;
}

.footer-04 .border-top {
  border-color: #1a1a1a;
  background: #1a1a1a;
}

.footer-04 .footer-heading {
  font-size: 13px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration-line: underline;
}

.footer-04 .footer-heading .logo {
  letter-spacing: none;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}

.footer-04 p {
  color: rgb(255, 255, 255);
}

.footer-04 .ftco-footer-social li a {
  color: #fff;
}

.footer-04 .tagcloud a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.footer-04 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-04 .list-unstyled li a:hover {
  color: #45CFDD;
}

.tag-cloud-link {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.tag-cloud-link:hover {
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: scale(1.2);
  transform: scale(1.01);
  box-shadow: 0px 0 3px #000000a6;
  cursor: default;
}

.submit {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.submit:hover {
  background-color: #E4A5FF;
  color: #ffffff;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: scale(1.2);
  transform: scale(1.01);
  box-shadow: 0px 0 6px #000000a6;
}

.ftco-animate {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.ftco-animate:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.01);
  box-shadow: 0px 0 2px #000000a6;
}

.icon-hover {
  -moz-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.ftco-animate:hover,
.icon-hover:hover {
  color: #E4A5FF;
}

.footer-04 .list-unstyled a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-04 .ftco-footer-social li a {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-04 .copyright a {
  color: rgba(255, 255, 255, 0.5);
}

    #scrollUp {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: #ffffff; 
      color: #fff; 
      padding: 5px 5px;
      border-radius: 69px;
      text-decoration: none;
      z-index: 9999;
      border: 5px solid #E4A5FF;
      box-shadow: 0px 0 12px #00000041;
    }

    .fa-arrow-up{
      color: #000;
    }

    #scrollUp:hover {
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
      border: 5px solid #45CFDD
    }