/* 
  Navbar 
*/
.custom-navbar-bg {
  background-color: #45CFDD; 
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); 
}

.custom-navbar-bg.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000; 
}

.small-icon {
  display: flex;
  justify-content: center;
}

.big-icon {
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 10px;
  position: relative;
}

.central-Navbar {
  padding-left: 10px;
  padding-right: 100px;
}

.nav-item {
  padding-left: 9px;
  padding-right: 9px;
}

/* Transition for all properties */
#logo {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* Scale the logo on hover */
#logo:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*
  Content
*/
div#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: scroll;
  background: #ffffff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #000000a6;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

div#content div.menu-trigger {
  position: fixed;
  top: 52px;
  left: 35px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

div#content div.menu-trigger:before {
  content: '\e801';
  display: inline-block;
  width: 50px;
  height: 50px;
  color: black;
  font-family: "ico";
  font-style: normal;
  font-size: 2.5em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 50px;
}

div#content div.menu-trigger:hover {
  background: #E4A5FF;
}

div#content div.menu-trigger:hover:before {
  color: #ffffff;
}

body.menu-active div#content {
  left: 284px;
  border-radius: 7px 0 0 7px;
}

body.menu-active div#content .menu-trigger {
  left: 294px;
}

/* ------------------------- */

div#shopping-cart div.shopping-cart-button {
  top: 52px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;

}

div#shopping-cart span.icon-color:before {
  display: inline-block;
  font-size: 2.1em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 50px;

}

div#content div.shopping-cart-button:hover,
div#shopping-cart span.icon-color:hover {
  background: #E4A5FF;
  color: #fff;
}

div#content div.shopping-cart-button:hover:before {
  color: #ffffff;
}


/*
  Slide-Menu 
*/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav#slide-menu>ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav#slide-menu>ul li {
  color: #ffffff;
  padding: 6px 0;
  cursor: pointer;
}

nav#slide-menu>ul li:hover {
  color: #45CFDD;
}

nav#slide-menu>ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #E4A5FF;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

nav#slide-menu>ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

nav#slide-menu>ul li.nav-home:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef47';
}

nav#slide-menu>ul li.nav-gorros:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\e814';
}

nav#slide-menu>ul li.nav-tops:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\edaf';
}

nav#slide-menu>ul li.nav-ponchos:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef54';
}

nav#slide-menu>ul li.nav-flores:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\e80c';
}

nav#slide-menu>ul li.nav-bebe:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\eb9e';
}

nav#slide-menu>ul li.nav-llave:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef59';
}

nav#slide-menu>ul li.nav-custom:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\e817';
}

nav#slide-menu>ul li.nav-facebook:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ed37';
}

nav#slide-menu>ul li.nav-instagram:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ed46';
}

nav#slide-menu>ul li.nav-email:before {
  font-family: 'IcoFont';
  font-size: 1.1em;
  content: '\ef12';
}

body.menu-active nav#slide-menu {
  left: 0px;
}

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}

#sidenav-label {
  color: #ffffff;
}


/* 
 Description 
*/
.bg-image-message {
  width: 500px;
  height: 20px;
}

.hero {
  min-height: 50vh;
  background: #000 url(/public/rectangle-2@2x.png) center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-content {
  position: absolute;
  bottom: 15px;
}


/*
 Farmie
*/

.hero-area {
  position: relative;
  z-index: 1;
  width: 100%;
}

.single-welcome-slides {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-welcome-slides {
    height: 550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-welcome-slides {
    height: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .single-welcome-slides {
    height: 600px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single-welcome-slides {
    height: 450px;
  }
}

.single-welcome-slides .welcome-content {
  position: relative;
  z-index: 1;
}

.single-welcome-slides .welcome-content h3 {
  font-size: 50px;
  color: #ffffff;
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-welcome-slides .welcome-content h3 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .single-welcome-slides .welcome-content h3 {
    font-size: 30px;
  }
}

.single-welcome-slides .welcome-content p {
  font-size: 30px;
  position:absolute;
  right: 30px;
  color: #ffffff;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;
}

.bg-overlay::after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.jarallax {
  position: relative;
  z-index: 0; }

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

.h-100 {
  height: 100% !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

/* Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


/*
 Misc
*/
.biinstagram-icon,
.icsharp-facebook-icon,
.mdiemail-outline-icon {
  position: absolute;
  top: 847px;
  left: 284px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.biinstagram-icon,
.icsharp-facebook-icon {
  left: 137px;
  width: 29px;
}

.biinstagram-icon {
  left: 220px;
  width: 20px;
}

.home-child {
  position: absolute;
  top: 756.5px;
  left: 183px;
  width: 65px;
  height: 22px;
}

.home-item-1,
.home-item-2 {
  position: absolute;
  top: 324px;
  left: 35px;
  border-radius: var(--br-3xs);
  background-color: var(--color-plum);
  width: 172px;
  height: 197px;
}

.home-item-2 {
  left: 243px;
}

.fluent-mdl2shop-icon,
.fluent-mdl2shop-icon1 {
  position: absolute;
  top: 491px;
  left: 174px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.fluent-mdl2shop-icon1 {
  left: 386px;
}

.rectangle-icon {
  position: absolute;
  top: calc(50% - 349px);
  left: calc(50% - 175px);
  border-radius: 37px;
  width: 347px;
  height: 146px;
  object-fit: cover;
}

.text-body {
  margin-block-start: 0;
  margin-block-end: 1.5px;
}

.p {
  margin: 0;
}

.text-body-container,
.tejidos-destacados {
  position: absolute;
  display: inline-block;
  font-weight: 600;
}

.text-body-container {
  top: 141px;
  left: calc(50% - 153px);
  color: var(--color-white);
  white-space: pre-wrap;
  width: 305px;
  height: 97px;
}

.tejidos-destacados {
  top: 270px;
  left: 31px;
  font-size: 24px;
  width: 240px;
  height: 37px;
}

.line-icon {
  position: absolute;
  top: 302px;
  left: 35px;
  width: 224px;
  height: 2px;
}

.home-child1,
.home-child2 {
  position: absolute;
  top: 324px;
  left: 259.5px;
  width: 145px;
  height: 135px;
}

.home-child2 {
  left: 36px;
  border-radius: var(--br-3xs);
  width: 171px;
  height: 112px;
  object-fit: cover;
}

.ajustable-en-la-cintura1 {
  font-weight: 500;
}

.ajustable-en-la-cintura,
.blank-line {
  margin-block-start: 0;
  margin-block-end: 1.5px;
}

.ajustable-en-la-cintura {
  font-size: var(--font-size-smi);
}

.blank-line {
  font-size: 10px;
}

.i {
  font-weight: 600;
}

.falda-pocahontas-ajustable-container {
  position: absolute;
  top: 447px;
  left: 50px;
  white-space: pre-wrap;
  display: inline-block;
  width: 143px;
  height: 93px;
}

.politica-de-envios {
  margin-block-start: 0;
  margin-block-end: 1.5px;
  font-weight: 500;
}

.leer1 {
  font-weight: 500;
  font-family: var(--font-inter);
}

.politica-de-envios-container {
  position: absolute;
  top: 739px;
  left: calc(50% - 85px);
  font-size: 12px;
  white-space: pre-wrap;
  display: inline-block;
  width: 186px;
  height: 61px;
}

.siguenos {
  position: absolute;
  top: 800px;
  left: 173px;
  font-size: 20px;
  font-family: var(--font-jejumyeongjo);
  display: inline-block;
  width: 99px;
  height: 41px;
}

.home-child3 {
  position: absolute;
  top: 324px;
  left: 243px;
  border-radius: var(--br-3xs);
  width: 172px;
  height: 112px;
  object-fit: cover;
}

.suculenta-colgante {
  position: absolute;
  top: 442px;
  left: 251px;
  display: inline-block;
  width: 135px;
  height: 73px;
}

.frame-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 428px;
  height: 105px;
}

.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 926px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}